# Orbiton Discord Bot - Configurations
DISCORD_TOKEN=your_discord_bot_token_here
GUILD_ID=your_discord_guild_id_here

# Orbiton Panel API configurations
PANEL_URL=http://localhost:3000
PANEL_USERNAME=admin
PANEL_PASSWORD=your_admin_password_here
