VITE_PANEL_API_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# (Recommended) Turso Cloud Edge Database Credentials
VITE_TURSO_DB_URL=libsql://your-database-name.aws-region.turso.io
VITE_TURSO_AUTH_TOKEN=your_turso_jwt_auth_token
